<?xml version='1.0' encoding='utf-8'?>
<widget id="net.polyphasic.data_gathering" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PolyphasicDiscord Data Gathering</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="~0.8.5" />
</widget>
